<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="css/style.css" />
  
  <title>Интернет-магазин</title>
</head>
<body>
  <div id='app'>
    <header>
      <div class="logo">Интернет-магазин</div>
      <div class="cart">
      <form action="#" class="search-form">
        <input type="text" class="search-field" v-model= 'searchLine'>
        
        <button class="btn-search" type="submit" @click='FilterGoods'>
            <i class="fas fa-search"></i>
        </button>
    </form>
      <button class="btn-cart" type="button" @click = 'isVisibleCart=!isVisibleCart'>Корзина</button>
    </div>
      <div v-if= 'isVisibleCart' class="cart-block" >
       

        <div class="d-flex">
            <strong class="d-block">Всего товаров</strong> <div id="quantity"></div>
        </div>
        <hr>
        <div v-if = '!goods_list.counted'>нет данных </div>
        
        <div class="cart-items" v-for = 'item of goods_list'>
          <div class="cart-item" data-id=`${item.id_product}`>
            <img src=""   alt="">
            <div class="product-desc">
            <p class="product-title"></p>
            <p class="product-quantity"></p>
            <p class="product-single-price"></p>
            </div>
            <div class="right-block">
            <button name="del-btn" class="del-btn" data-id="${item.id_product}">&times;</button>
            </div>
            </div>
        </div>
        <hr>
        <div class="d-flex">
            <strong class="d-block">Общая ст-ть:</strong> <div id="price"></div>
        </div>
    </div>     
    </header>
    <main>
      <div class='products'>
        <div v-if = 'productsDom.counted' >нет данных </div>
        <div class="product-item" v-for="product of productsDom" :key="product.id_product">
          <img :src="imgCatalog" alt="Some img">
          <div class="desc">
              <h3>{{product.product_name}}</h3>
              <p>{{product.price}}₽</p>
              <button class="buy-btn" @click="addProduct(product)">Купить</button>
          </div>
      </div>

      </div>
    </main>

  </div>

  <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <div class="logo">Интернет-магазин</div>
      <button class="btn-cart" type="button">Корзина</button>
      <div class="cart-block hidden">
        <div class="d-flex">
            <strong class="d-block">Всего товаров</strong> <div id="quantity"></div>
        </div>
        <hr>
        <div class="cart-items">
            
        </div>
        <hr>
        <div class="d-flex">
            <strong class="d-block">Общая ст-ть:</strong> <div id="price"></div>
        </div>
    </div>
      
    </header>
    <main>
      <div class="products"></div>
    </main>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
  </body>
</html> -->
